body 
{
    font-family:Arial;
    font-size:12px;
    background-color:#c6c6c6;
    margin:0px;
}



.amount 
{
    font-size: 21px;
    font-weight: bold;
}

container


input, select, form
{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin:0px;
    padding:0px;
}
div, span
{    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
}

/* Effects */
.content-container-top
{
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

/* Texts */
.section-header 
{
    font-size: 16px;
    font-weight: bold;
}
.section-title 
{
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 0px;
}
.big-header 
{
	font-size: 25px;
	font-weight: bold;
	color: #f5821e;
	margin-top: 15px;
}
.big-header1
{
    font-size: 25px;
    color: #FFFFFF;
}

.big-header2
{
    font-size: 18px;
    color: #FFFFFF;
}
.small-header 
{
    font-size: 13px;
    font-weight: bold;
}
.small-sub 
{
    font-style: italic;
    font-size: 10px;
}
.currency-symbol 
{
}
.sep-bullet 
{
    color: #f5821e;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

/* Coloring */
.detail-section
{
    border: 1px solid #c8c8c8;
}
.orange
{
    background-color: #f5821e;
    color: #fff;
}
.black
{
    background-color: #000;
    color: #fff;
}
.white
{
    background-color: #fff;
    color: #000;
}
.silver
{
    background-color: #c8c8c8;
    color: #000;
}

/* Dropdowns */
.dual 
{
    line-height: 22px;
    vertical-align:middle;
}
.dual div 
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
.user-select 
{
    position:relative;
    
    margin: 0px;
    padding:0px;
    
    font-size: 11px;
    line-height: 15px;
    height: 22px;

	max-height: 22px;
	overflow: hidden;
	
    
    vertical-align: middle;
    
    border: 1px #c8c8c8 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}


/* Buttons */
.clickable 
{
    cursor: pointer;
}
.button 
{
    height:24px;
    line-height:24px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
    cursor: pointer;
    min-width:100px;
}

.button-light
{
    background-image: url('../images/theme1/icons/btn_light.png');
 
    height:24px;
    float:left;
    display:inline-block;
    text-align:center;
}
.button-light-left
{
    background-image: url('../images/theme1/icons/btn_light_left.png');
    width:19px;
    height:24px;
    float:left;
    display:inline-block;
}
.button-light-right
{
    background-image: url('../images/theme1/icons/btn_light_right.png');
    width:19px;
    height:24px;
    float:left;
    display:inline-block;
}

/* Novo bot�o laranja para */

.button-orange2
{
    background-image: url('../images/theme1/icons/btn_orange_2.png');
 
    height:26px;
    float:left;
    display:inline-block;
    text-align:center;
}
.button-orange-left2
{
    background-image: url('../images/theme1/icons/btn_orange_left_2.png');
    width:14px;
    height:26px;
    float:left;
    display:inline-block;
}
.button-orange-right2
{
    width:14px;
    height:26px;
    float:left;
    display:inline-block;
}

/* Novo bot�o laranja para */

.button-orange
{
    background-color: #f5821e;
    height: 32px;
    float:left;
    display:inline-block;
    text-align:center;
    width: 422px;
    padding: 5px;
    border-radius: 5px;
}
.button-orange-left
{
    width:14px;
    height:26px;
    float:left;
    display:inline-block;
}
.button-orange-right
{
    width:14px;
    height:26px;
    float:left;
    display:inline-block;
}


.button-dark
{
    background-image: url('../images/theme1/icons/btn_dark.png');
    width: 100px;
    height:24px;
    float:left;
    display:inline-block;
    text-align:center;
}
.button-dark-left
{
    background-image: url('../images/theme1/icons/btn_dark_left.png');
    width:21px;
    height:24px;
    float:left;
    display:inline-block;
}
.button-dark-right
{
    background-image: url('../images/theme1/icons/btn_dark_right.png');
    width:21px;
    height:24px;
    float:left;
    display:inline-block;
}


/* Page layout */
.container-page 
{
    width: 955px;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -khtml-box-sizing: border-box;
    box-sizing:border-box;
    
    margin-left: auto;
    margin-right: auto;
}

.container-outer2
{position: relative;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -khtml-box-sizing: border-box;
    box-sizing:border-box;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    
    padding:10px;}

.container-inner , /*.container-outer,*/ .container-top, .container-inner-left, .container-inner-right, .container-inner-noc
{
    position: relative;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -khtml-box-sizing: border-box;
    box-sizing:border-box;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    
    padding:10px;
}
.container-inner
{
    margin:10px 0 10px 0;
}

.container-inner-noc
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius:0px;
}
.container-inner-right
{
     -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    
    -moz-border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -khtml-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.container-inner-left
{
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    
    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.container-outer 
{
    margin-bottom:0px;
}
.container-top 
{
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.section-info
{
    height: 90%;
    color: #f5821e;
    font-size: 16px;
}
.header, .footer
{
    background-image:url('../images/theme1/header/headerBackground.png');
    background-repeat:repeat-x;
}
.landingsPageBackground
{
	background-image: url(../uploads/images/img-gdr.jpg) ;
	background-repeat:no-repeat;
	
}

.footer 
{
    min-height: 66px;
}
.logo 
{
    position: relative;
    background-image: url('../images/theme1/header/headerLogo.png');
     
    min-height:87px;
    width:163px;
}

.carimage 
{
    position:relative;
    margin-top:6px;
    margin-left:15px;
    min-height: 118px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.arrow 
{
    border-top: solid 1px #c8c8c8;
    background-image: url('../images/theme1/icons/arrow.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 20px;
    margin-right:10px;
}
.icon 
{
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
}
.i-carfinance
{
    background-image: url('../images/theme1/icons/icon_carfinance.png');
}
.i-managementcosts
{
    background-image: url('../images/theme1/icons/icon_managementcosts.png');
}
.i-runningcosts
{
    background-image: url('../images/theme1/icons/icon_runningcosts.png');
}
.i-usedcarsale
{
    background-image: url('../images/theme1/icons/icon_usedcarsale.png');
}
.i-vehicledowntime
{
    background-image: url('../images/theme1/icons/icon_vehicledowntime.png');
}

.four
{
    position: relative;
    width: 99%;
    display: inline-block;
}
.three
{
    position: relative;
    width: 74%; 
    display: inline-block;
}
.two
{
    position: relative;
    width: 49%;
    display: inline-block;
}
.one
{
    position: relative;
    width:24%;
    display: inline-block;
}

.onethird
{
    position: relative;
    width:32%;
    display: inline-block;
}
.twothird
{
    position: relative;
    width:64%;
    display: inline-block;
}
.twofifth
{
    position: relative;
    width:39%;
    display: inline-block;
}
.threefifth
{
    position: relative;
    width:59%;
    display: inline-block;
}

.left 
{
    float:left;
}
.right
{
    float:right;
}

.mr
{
    margin-right:10px;
}
.ml
{
    margin-left:10px;
}
.mt
{
    margin-top:10px;
}
.mb
{
    margin-bottom:10px;
}


.contact 
{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-image: url('../images/theme1/contactUsBackground.png');
    
    color:#fff;
}
.contact-popup 
{
    position:relative;
    
    width:500px;
    min-height: 400px;
    
    left:50%;
    margin-left:-200px;
    
    margin-top:100px;
    
     background-image: url('../images/theme1/contactUsPopupBackground.png');
}
.contact-full
{
    width: 100%;
}

.ComparisonPageHowCalculated
,.ComparisonPageHowSavings
,#CarFinanceMontlyCostInfo
,#CarFinanceOurSavingsInfo
,#RunningCostsMontlyCostInfo
,#RunningCostsOurSavingsInfo
,#DowntimeCostsMontlyCostInfo
,#DowntimeCostsOurSavingsInfo
,#ManagementCostsMontlyCostInfo
,#ManagementCostsOurSavingsInfo
,#UsedCarSaleIncomeMontlyCostInfo
,#UsedCarSaleIncomeOurSavingsInfo
{
	padding:10px;
}

/*Estilos acrescentados*/

#ComparisonPageTailoredReport { font-size:16px;}

#HomePageTitle4 { font-size:14px;}

.button-dark-sim
{
    background-image: url('../images/theme1/icons/btn_dark_simul.png');
    width: 179px;
    height:41px;
    float:left;
    display:inline-block;
    text-align:center;
}
.button-dark-left-sim
{
    background-image: url('../images/theme1/icons/btn_dark_simul_esq.png');
    width:11px;
    height:41px;
    float:left;
    display:inline-block;
}
.button-dark-right-sim
{
    background-image: url('../images/theme1/icons/btn_dark_simul_dir.png');
    width:12px;
    height:41px;
    float:left;
    display:inline-block;
}

.button-sim
{
    height:41px;
    line-height:41px;
    font-size:18px;
    color:#fff;
    font-weight:bold;
    cursor: pointer;
    min-width:100px;
}


/*FancyBox CSS*/

/*Botão rolover submit*/

#signupForm{margin:30px auto 5px 23px;
	float:left;
}
#contactform{
	
	}

ul.forms {
	text-align:left;
		list-style-type:none;
	padding:0;
	float: left;
	list-style: none;
	/*position:relative;*/
	font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:14px;
}

.field {
	font-family:Arial, Helvetica, sans-serif; color:#000; font-size:14px; background:#fff; border:#161616; padding:2px; 
	 width:200px; 
/*	 float:right;
*/	
}


UL.forms li {
	float: left;
	margin-bottom: 3px;
	width: 280px;
	position:relative;
	list-style-type:  none;
}

UL.forms label {
	color: #006; font-size:14px; float:left; padding-top:6px; font-weight:bold;
	font-family:Arial, Helvetica, sans-serif; color:#FFF;;
}

UL.forms .error { 
	display: block;
}

UL.forms li.buttons {
	text-align:right;
}



#submitted{
	float:right;
	margin-right: 25px;
	background-image:url(../images/theme1/icons/form-bot.jpg);
	background-repeat:no-repeat;
	font-weight:bold;
	width:90px;
	height: 24px;
	border:none;
	cursor:pointer;
	display:block;
	font-size:14px;
	color:#FFF;
}

#submitted:hover{
	float:right;
	margin-right: 25px;
	background-image:url(../images/theme1/icons/form-bot.jpg);
	background-repeat:no-repeat;
	font-weight:bold;
	width:90px;
	height: 24px;
	border:none;
	cursor:pointer;
	display:block;
	color:#ebebeb;
	font-size:14px;
}

#nome_label, #telefone_label, #empresa_label, #email_label{ display:block; width:350px; height:17px; padding-top:3px; color:#000; }
/*#email_label{ background:url(images/email-label.png) bottom left no-repeat;}*/
#nome, #empresa, #telefone, # email{float:left; text-align:left;}

#button{
	float:right;
	margin-top:15px;
	margin-bottom:5px;}

.error{font-family:Arial, Helvetica, sans-serif; color: #999; font-size:12px; padding:0px 0px 5px 0px; text-align:left;}

#cleardiv{ clear:both;}

/* herdado das validações*/
label { 
	float: left; 
	padding-right:0px;
}
label.error { display: block; margin-left:220px; margin-top:15px; width:138px; position:absolute; font:Arial, Helvetica, sans-serif; font-size:10px;

	float: none; 
	color: #999!important; 
	padding-right:3px; 
	vertical-align: top;
	cursor:text;
	background:url(images/nono.png) bottom left no-repeat #FFF;
}
p { 
	clear: both; 
}
.gray { 
	/*color: gray;*/
	display: none;
}

#obriga { font-size:10px; color:#000; float:right; margin-right:-70px; margin-top:10px}

#titulo {font-size:18px; color: #F5821E;}
